*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Roboto';
}
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color: black;
	text-decoration: none;
}
.navbar-default
 {
    background-color: transparent;
    border-color: transparent;
}
.navbar 
{
    border-radius: 0;
}
.navbar-default .navbar-nav > li
{
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 14px;
}
.navbar-default .navbar-nav > li > a 
{
    color: black;
}
.navbar-default .navbar-brand 
{
   color: black;
	text-transform: uppercase;
	font-size: 20px;
}
li.numb
{
	font-weight: bold;
	padding-left: 70px;
}
#creative
{
	background-color: #778899;
	padding: 80px 0;
}
h1
{
	color: white;
}
.creative
{
	padding: 20px 0;
	font-size: 16px;
	line-height: 22px;
	overflow: hidden;
	color: white;
}
#four
{
	padding: 80px 0;
	overflow: hidden;
	background-color: lavender;
}
#four i.e
{
	transform: translateX(130%);
}
i.fa
{
	border: 1px solid dodgerblue;
	background-color: dodgerblue;
	padding: 20px;
	font-size: 30px;
	color: white;
	border-radius: 50%;
}
h2
{
	color: dodgerblue;
}
.desc
{
	font-size: 16px;
	text-align: justify;
}
#paras
{
	padding: 80px 0 30px 0;
	background-color: gainsboro;
}
#paras p
{
	color: black;
	font-size: 14px;
}
#paras h3
{
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	padding-top: 20px;
}
#paras .c
{
	line-height: 24px;
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}
#paras a
{
	border: 1px solid floralwhite;
	background-color: floralwhite;
	padding: 12px 120px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
}
#paras a:hover
{
	border: 1px solid lightslategray;
	background-color: lightslategray;
	color: white;
}
#paras img
{
	color: transparent;
	height: 270px;
	width: 400px;
	margin-left: 150px;
}
#paras .image
{
	background-color: transparent;
}
#paras .space
{
	padding-bottom: 40px;
}
#paras p.mag
{
	text-transform: uppercase;
	font-size: 18px;
}
#paras h4
{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	color: black;
}
.row .mt
{
	background-color: white;
	height: 300px;
}
.row .mtf
{
	background-color: black;
	height: 300px;
	color: white;
}
#paras .mtf p.mag
{
	text-transform: uppercase;
	font-size: 18px;
	color: white;
}
#paras .mtf h4
{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	color: white;
}
.border
{
	border: 4px solid white;
	border-top: none;
	border-right: none;
	border-left: none;
	width: 21%;
}
#three h5
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
#three h5 span
{
	font-size: 12px;
	margin-left: 20px;
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
	border-right: none;
	font-weight: normal;
}
#three figcaption
{
	color: gray;
	border: 1px solid linen;
	background-color: linen;
}
#three .figpara h6
{
	font-size: 20px;
	color: dodgerblue;
	font-weight: bold;
}
#three .figpara p
{
	font-size: 17px;
	color: black;
}
#three .figpara a
{
	font-size: 17px;
	color: red;
}
#three .figpara a:hover
{
	font-size: 17px;
	color: dodgerblue;
}
#three
{
	background-color: lightsteelblue;
	padding: 40px 0;
}
figure
{
	padding-top: 20px;
}
h6
{
	font-size: 16px;
}
#footer
{
	padding: 40px 0 20px 0;
}
.amcc
{
	padding: 20px 0;
}
.amcc li
{
	list-style-type: none;
	color: gray;
	font-size: 15px;
}
.amcc li a
{
	color: gray;
}
.amccc
{
	margin-top: 10px;
}
.amccc li
{
	list-style-type: none;
	text-transform: uppercase;
	line-height: 28px;
}
.amccc li a
{
	color: gray;
	font-size: 18px;	
}
.n
{
	text-transform: uppercase;
}
input
{
	text-align: center;
	margin-left: 220px;
	padding: 5px 0;
}
button.btn-success
{
	margin-top: -53px;
	margin-left: 475px;
	background-color: black;
	border: 1px solid black;
	border-radius: 0;
	font-size: 12px;
}
.col-md-1
{
	border: 1px solid gray;
	padding: 20px;
	margin-left: 220px;
}
.t
{
	border: 1px solid gray;
	padding: 20px;
	margin-left: 10px;
}
.w
{
	border: 1px solid gray;
	padding: 20px;
	margin-left: 10px;
}
.o
{
	border: 1px solid gray;
	padding: 20px;
	margin-left: 10px;
}